name: Run Tests

on: [push]

jobs:
  build:

    runs-on: macOS-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: setup
      run: |
        gem install bundler
        bundle install
    - name: test
      run: rake
